<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>NoteMe</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list inset="true">
    <ion-list-header>
      <ion-label>All notes</ion-label>
    </ion-list-header>
    @for (item of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]; track $index) {
      <app-note-item />
    }
  </ion-list>

  <ion-fab class="actions-button" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button [routerLink]="['/', 'note-edit', 0]" id="present-alert">
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="folder" id="folder-alert"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
