<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>NoteMe</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list inset="true">
    <ion-list-header>
      <ion-label>All notes</ion-label>
    </ion-list-header>
    @for (note of noteService.notes(); track $index) {
      <app-note-item (click)="openEditModal(note.id)" [id]="note.id" [title]="note.title" [content]="note.content"/>
    }
    <!-- <app-note-item
      [id]="0"
      (click)="openEditModal(0)"
      title="Create a new note"
      content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto consequuntur cum dolores ea
      expedita, ipsa libero numquam qui quia ratione suscipit tenetur vitae! Atque commodi eveniet explicabo quo rem."/> -->
  </ion-list>

  <ion-fab class="actions-button" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="openAddModal()">
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="folder" id="folder-alert"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
