<ion-content [fullscreen]="true" class="contenue">
  <div class="center-box">
    <div class="ion-text-center">
      <ion-icon name="people" size="large" class="people"></ion-icon>
    </div>

      <form
      [formGroup]="loginForm"
      class="flex flex-column align-items-center gap-5 w-full"
    >
    <ion-list>
      <ion-item>
        <ion-icon name="person-add" slot="start" ></ion-icon>
        <ion-input
          label="Username"
          label-placement="floating"
          placeholder="Enter your username"
          type="text"
          formControlName="username"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="key" slot="start"></ion-icon>
        <ion-input
          label="Password"
          label-placement="floating"
          placeholder="Enter your password"
          type="password"
          formControlName="password"
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" class="ion-margin-top" (click)="submit()">Login</ion-button>

      </form>
    <div class="ion-text-center ion-padding">
      <a href="#">You don't have an account? Register</a>
    </div>
  </div>
</ion-content>