<ion-content [fullscreen]="true" class="contenue">
  <div class="center-box">
  
    <ion-icon name="people" size="large" class="main-icon"></ion-icon>

      <form
      [formGroup]="registerForm"
      class="flex flex-column align-items-center gap-5 w-full"
    >
    <ion-list>
      <ion-item>
        <ion-icon name="book" slot="start"></ion-icon>
        <ion-input label="Name" label-placement="floating" placeholder="Enter your name"  formControlName="nom"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-input label="Username" label-placement="floating" placeholder="Enter your username"  formControlName="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-input label="Email" label-placement="floating" type="email" placeholder="email@domain.com"  formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="key" slot="start"></ion-icon>
        <ion-input label="Password" label-placement="floating" type="password" placeholder="Enter your password"  formControlName="password"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" class="ion-margin-top" (click)="submit()">Register</ion-button>
      </form>
  </div>
</ion-content>

