.header{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.user{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding: 10px;
}
.note{
    display: flex;
    align-items: center;
}
.messageZone{
   height: 30pc;
}
.sendZone{
    display: flex;
    flex-direction: row;
}
.chatMenu, .chatHistory{
    display: flex;
    flex-direction: row;
    padding-right: 1pc;
    justify-content: center;
}
span{
    padding: 1pc;
}
