<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="acceuil">
      <ion-icon name="document"></ion-icon>
      Notes
    </ion-tab-button>
    <ion-tab-button tab="share">
      <ion-icon name="person-add"></ion-icon>
      <ion-badge color="danger"></ion-badge>
      Share
    </ion-tab-button>
    <ion-tab-button tab="ai-system">
      <ion-icon name="aperture"></ion-icon>
      AI System
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person-circle"></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
