<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-back-button slot="start" default-href="/noteMe/acceuil"></ion-back-button>
    <ion-title>{{ title() }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list inset="true">
    <ion-item lines="none" class="ion-margin-bottom">
      <ion-input
        placeholder="Title"
        type="text"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-textarea rows="15" placeholder="Content"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-padding ion-no-border">
  <ion-button expand="block">Save</ion-button>
</ion-footer>
